/* Container Layout */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative; /* Ensure toggle button is positioned relative to the container */
}

/* Black Div Styling */
.black-div {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  overflow: hidden;
  height: 100vh;
  transition: width 0.9s ease-in-out;
}

/* White Div Styling */
.white-div {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  transition: width 0.5s ease-in-out;
}

/* Toggle Button Styling */
.toggle-button {
  position: absolute;

  transform: translateY(50%);
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
