/* EventList.css */
.event-list {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
  }
  
  .event-list h3 {
    color: #333;
  }
  
  .event-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .event-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .event-list li:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }

/* Event List Header */
.event-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* See All Button */
.see-all-button {
  background-color: transparent; /* Remove background color */
  color: #841111; /* Text color */
  border: none; /* Remove border */
  padding: 10px 16px; /* Add padding for spacing */
  font-size: 14px; /* Font size for the button text */
  font-weight: bold; /* Make the text bold */
  cursor: pointer; /* Change cursor to pointer on hover */
  text-align: center; /* Center-align the text */
  display: inline-block; /* Ensure it behaves like a button */
  text-decoration: underline; /* Add underline to the text */
  transition: color 0.3s ease; /* Smooth transition for hover effects */
}

.see-all-button:hover {
  color: #a51c1c; /* Darker text color on hover */
  text-decoration: underline; /* Keep underline on hover */
}
