.status-card {
  width: 350px;
  height: 90px;
  gap: 10px;
  border-radius: 8px;
  border: 2px solid black; /* Set border color to black */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.status-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.status-card h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.status-card p {
  margin: 8px 0 0;
  font-size: 24px;
  font-weight: bold;
}

