.links-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.links-container h3 {
  margin-bottom: 10px;
  width: 100%;
}

.links-container ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.links-container li {
  margin-bottom: 5px;
}

.links-container a {
  text-decoration: none;
  color: #000;
  background-color: #f2eded;
  padding: 8px 16px;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  white-space: nowrap;
  border: 1px solid #841111;
  transition: all 0.3s ease; /* Added transition for smooth hover effect */
}

.links-container a:hover {
  color: #841111; /* Change text color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add subtle shadow on hover */
  transform: translateY(-2px); /* Slightly lift the link on hover */
}

.add-link-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-link-icon:hover {
  color: #841111;
}
