/* Event Form Specific Styles */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #f4f7fc; /* Match your theme */
}


/* Form Container */
.form-container {
  width: 750px;
  height: auto;
  gap: 16px;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
}

/* Button Container */
.button-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}
